<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.ico" rel="icon">

  <title>About</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
          <!-- <li><a href="./components.html" title="">05 : Components</a></li> -->
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>Summary</h3>
                  <p>A Transformation Lead with 15 years of experience in handling different projects in Various domain such as F&A, R2R, Product and Service with excellent understanding of Transition, Transformation, Data Analysis, Delivery [F&A-AR and O2C], Automation, Risk & Issue management and Project Management using a variety of software, as well as strong AI and Business Intelligence skills</p>
                  <h3>Certification: </h3>
                  <p>•Data Scientist ||Lean Six Sigma|| Green Belt – Completed || AWS
                    •Project Management || MS Project || Tableau || Power Bi || AI & Other Automation
                    •Python || Machine Lrng || R Programing || Blue Prism || My SQL|| Adv. Excel & VBA</p>
                  <h3>CLOUD SOLUTION ARCHITECT [All Domain] [EXP 7 YEARS]</h3>
                  <p>• Experience working with Azure and AWS Cloud Platforms in consulting, pre-sales and engineering
                  • experience in Azure Services like Backup, Disaster Recovery, Monitoring, Security (Certificate Services, Auditing, Encryption, IDM )
                  • Strong understanding of the entire MS Azure product and services suite of products and their applicable use cases, best practices and implementation, and support considerations.
                  • Extreme familiarity with Cloud Adoption framework and Well Architected Framework
                  • Experience in defining Cloud migration roadmaps (Timeline, sequencing, priorities etc.)
                  </p>
                  <h3>TRANSFORMATION SKILL - PROCESS STABILIZED & TRANSFORMED -EXP – 8 YRS</h3>
                  <p>R2R [50+ Projects] – Reporting, JV Processing, Reconciliation, Forecasting etc
                  • O2C – Statement, Cash Application, Collection, Invoice Processing
                  • P2P- Vendor Management, Master data Mgt, Payment processing
                  • Transition – Highlighting Risk and issue Management, Resource Utilization
                  • Chat Process- Query management
                  • Automated Train the Trainer Process
                  </p>
                  <h3>PROJECT MANAGEMENT SKILL [IT & Non-IT] [EXP 10 YEARS]</h3>
                  <p>• Tracking Most Complex Project
                  • Detail Level of Activity Tracking [ around 3000 Line item]
                  • Including Critical Activity, Milestone and Toll Gates
                  • Risk and issue Management
                  • Use latest Technology in order to track the project
                  • Create effective forecasting to avoid surprises in the project
                  </p>
                  <h3>TRANSITION [SOLUTION] SKILL- [IT & Non-IT] – [EXP MORE THAN 8 YEARS]</h3>
                  <p>• Building Solution with Grade Mix and Location Mix
                  • Working on Transition Budget with internal department
                  • Preparing Transition Plan
                  • Execution of due diligence, Prep-Planning, IA, KC, KT, Ramp and Stabilization
                  • Resource & Stakeholder management
                  • Tracking micro level activities of project with PMO
                  • Reviewing and updating Risk & Issue Log
                  </p> 
                  <h3>AUTOMATION - TOP MOST EFFECTIVE PROJECTS [EXP 12 YEARS]
                  <br>Automated almost 100+ process with Max 250+ FTE benefit,</h3>
                  <p>• Digital Transformation Dashboard – IBM
                  • Automated Transition Plan Template – IBM & CAP
                  • Automated Solution template – IBM & CAP
                  • Project Tracking System – IBM & CAP
                  • Resource Tracking and utilization system globally – IBM & CAP
                  • Build Invoice Generating system -TIENS
                  • Automated payment FUP system – TIENS
                  </p>
                  <h3>DATA ANALYTICAL SKILL [All Domain] [EXP 10 YEARS]</h3>
                  <p>• Strong knowledge of relevant technology toolsets for data analysis, 
                    documentation reporting (SQL, data modelling, metadata organization, data cleansing, etc.)
                  • Strong Analytical Skillset using python, R Programing
                  • Hands on Experience in BIG DATA and AZURE along with CLOUD
                  • Industry Expert in Power BI, Tableau and Qlick View
                  • Automation & Web developing using python
                  • Anti-Hacking System
                  </p>                                                                                          
                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/profil.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© Sourav's | copy right 2021 | Sourav's Profile</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>